.user-form {
  width: 33rem;
  padding: 0 1rem 1rem 1rem;
  /* z-index: 10; */
  background-color: white;
  border-radius: 0.7rem;
  text-align: start;
  margin-bottom: 1rem;
}

.form-header {
  font-size: 1.1rem;
  font-weight: 800;
}

.form-input {
  width: 98%;
  font-size: 1rem;
  font-weight: 500;
  border: 0.1rem lightgrey;
  border-style: solid;
}

.button-container1 {
  padding: 0.5rem 0 0 0;
  text-align: start;
}

/* .button {
} */
